	
[submodule "code/ssc"]
	path = code/ssc
	url = ../scientific_computing
[submodule "interfaces"]
	path = interfaces
	url = ../interfaces
[submodule "code/yaml-cpp"]
	path = code/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "code/websocketpp"]
	path = code/websocketpp
	url = https://github.com/LocutusOfBorg/websocketpp.git
[submodule "code/eigen3-hdf5"]
	path = code/eigen3-hdf5
	url = https://github.com/garrison/eigen3-hdf5.git
